<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 생성된 객체들을 전부 빈으로 만들어준다. -->
	<bean id = "cAdd" class = "ch03_pjt_03.CalAdd"/>
	<bean id = "cSub" class = "ch03_pjt_03.CalSub"/>
	<bean id = "cMul" class = "ch03_pjt_03.CalMul"/>
	<bean id = "cDiv" class = "ch03_pjt_03.CalDiv"/>
	
	<!-- 생성된 객체들을 전부 빈으로 만들어준다. -->
	<bean id="myCalculator" class = "ch03_pjt_03.MyCalculator"/>
	
	<!-- 생성된 객체들을 전부 빈으로 만들어준다. -->
	<!-- 생성자를 통해 의존성을 주입하는 방법. -->
	<bean id="calAssembler" class = "ch03_pjt_03.CalAssembler">
		<!-- 생성자 인자를 지정하는 태그 constructor-arg -->
		<!-- 스프링 컨테이너에서 관리되는 빈의 이름을 지정 ref="..." -->
		<constructor-arg ref="myCalculator"/>
		<constructor-arg ref="cAdd"/>
		<constructor-arg ref="cSub"/>
		<constructor-arg ref="cMul"/>
		<constructor-arg ref="cDiv"/>
	</bean>
	
</beans>
